.page {
    background-image: url(./images/fondCalcul.jpg);
    background-size: cover;
}
header {
    text-align: center;
}
.titre {
 color: white;
}
.block-calcul {
    margin: auto;
    width: 80%;
    background-color: cadetblue;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
}